<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--Orange Portal details-->
    <add key="customerKey" value="U0tXUVNlY25BWk1XaUVJcHdMWkNEY20zVHdSWUNvTDg6WTJteHhtdG1XN2pKSUt4SQ==" />
    <add key="merchant_key" value="f3aff215" />
    <add key="cancel_url" value="https://www.ezipaysarl.com" />
    <add key="notif_url" value="http://localhost:63159/api/ThridPartyApiController/UpdateTransactionStatus" />
    <add key="return_url" value="https://www.ezipaysarl.com" />
    <add key="reference" value="Ezipay SL" />

    <!--Third party pay services credentials-->
    <add key="Username_Ci" value="BF5C0D75E110EDA801651D948BA1E699D707421336CA0B141001F2986ABC54CB" />
    <add key="Password_Ci" value="61874536F5E32D89FD82C5209E548BB181E8474F8949016CB7DBD1072A82EB66" />
    <add key="ServiceId_MTN" value="AIRTIMEMTN" />
    <add key="ServiceId_Moov" value="AIRTIMEMOOV" />
    <add key="ServiceId_Orange" value="AIRTIMEORANGECI" />

    <!--Auto OTP read Id-->
    <!--<add key="AutoReadOtpId" value="9CSKaJxZoV/" />-->

    <!--creds for OTP Route Mobile Provider-->
    <!--<add key="RouteMobileEndPoint" value="https://api.rmlconnect.net/bulksms/bulksms" />-->
    <add key="RouteMobileEndPoint" value="http://api.rmlconnect.net:8080/bulksms/bulksms" />
    <add key="RouteUsername" value="ezipay" />
    <add key="RoutePassword" value="3x2GVXb5" />
    <add key="RouteSmppServer" value="api.rmlconnect.net" />
    <add key="RouteSmppPort" value="2351" />
    <add key="RouteSource" value="EzipaySARL" />
    <add key="AutoReadOtpId" value="tvYj5x6pBEM" />
    
    <!--creds for OTP Telesign Provider-->
    <add key="TeleSignSendOTPEndPoint" value="https://rest-ww.telesign.com/v1/verify/sms" />
    <add key="TeleSignCallBackEndPoint" value="https://rest-ww.telesign.com/v1/verify/call" />
    <add key="TeleSignUsername" value="B345CB6B-DD90-41C9-8436-216E3C7919DD" />
    <!--<add key="TeleSignPassword" value="YIrn6sJ5YN/2jPPAgQInMv4cS1qb2ieGQqUuS886DWPeLI0jAQ8bMizfwJo8nAqFXiuC01qdprOaYTH5YH19sg==" />-->
    <add key="TeleSignPassword" value="v0Dd50PMPcmiwO7g4puyQlyhgIaJpo8PJS/t+EHkbwn0tglQodX29pcNZrIqarc1ys5d+HDMbS7zUgFoXPAbAQ==" />

    <!--international airtime-->

    <!--<add key="MerchantToken" value="+cLIlfZUDB7z4slJGW5SSIzcQxEN6wiA6O+dri5YIOA=" />-->
    <add key="MerchantToken" value="Yf85GqM/y0sE5l9fUrvp2LK0/btg52XKujom80w5RWM=" />
    <!--<add key="MerchantToken" value="740041899047" />-->
    <add key="loginkey" value="ezipay" />
    <add key="InternationalAirtimeUrl" value="https://airtime-api.dtone.com/cgi-bin/shop/topup" />


    <!--bank details-->
    <add key="DirectBankTransaction" value="Guaranty Bank Direct Deposit" />
    <add key="TransferToBankNarration" value="Ezipay Instant Bank Transfer" />
    <add key="AddNewBank" value="false" />

    <!--aws-s3 keys-->

    <add key="VerifyMailLink" value="VerifyAccount/Index" />
    <add key="AWSurl" value="https://s3-us-west-2.amazonaws.com" />
    <add key="AWSAccessKey" value="AKIA2V5AFPRVS7KQ3SKN" />
    <add key="AWSSecretKey" value="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" />
    <add key="AWSBucket" value="prod-sarl-data" />
    <!--<add key="ImageUrl" value="https://ezipay.s3.amazonaws.com" />-->

    <!--<add key="LogoPath" value="E:\NewEzipay\Ezipay\ezipay_V2\Ezipay.Api\WebImages\logo1.png" />-->
    <!--<add key="LogoPath" value="E:\\NewEzipay\\EzipaySARL\\ezipay_backendSARL_v2\\Ezipay.Api\\WebImages\\logo1.png" />-->
    <!--<add key="LogoPath" value="C:\sarlgit\sarl1\Ezipay.Api\WebImages\logo1.png" />-->

    <add key="LogoPath" value="C:\Users\Hp\Downloads\sarl1\Ezipay.Api\WebImages\logo1.png" />
    <add key="flagImageurl" value="https://apiref.ezipaygh.com/Content/img/" />
    <add key="LogoLocation" value="https://newapi.ezipaysarl.com/Content/img/mainlogo.png" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PrivateKey" value="ccfb4ff9-8e89-43ae-8f5c-c9a9b15ed02b" />
    <add key="PublicKey" value="ccfb4ff9-8e89-43ae-8f5c-c9a9b15ed02b" />
    <add key="PasswordBitSize" value="256" />
    <add key="PageSize" value="20" />
    <add key="IsVerifiedAccount" value="http://52.40.89.233/aggregator/api/kweseenquiry?customer=" />
    <add key="OtpLimit" value="3" />


    <add key="AdminEmail" value="support@ezipaysarl.com" />


    <add key="HostNameAdmin" value="http://localhost:63159" />
    <add key="hostName" value="http://localhost:63159" />
    <add key="QrCodeUrl" value="QrCode?Code=" />
    <!--<add key="VerifyMailLink" value="User/VerifyLogin" />-->
    <add key="CommissionAmountLimit" value="0" />
    <add key="HubtelEndPoint" value="http://api.hubtel.com/v1/messages" />
    <add key="HubtelNumber" value="EziPay" />
    <add key="HubtelClientSecret" value="xcwngutz" />
    <add key="HubtelClientId" value="nbqeincr" />

    <!--Send Email From Creds-->
    <add key="EmailFrom" value="no-reply@ezipaygh.com" />
    <add key="Host" value="email-smtp.us-west-2.amazonaws.com" />
    <add key="Port" value="587" />
    <add key="Username" value="AKIA2V5AFPRVWMRTC4HZ" />
    <add key="Password" value="BBDD3R1j6dEJThZxehQOUeDcQdoFGhYhaNU7PcXP1PMB" />

    <!--Card Detail-->
    <add key="PaymentUrl" value="https://migs.mastercard.com.au/vpcpay" />
    <add key="Locale" value="en" />
    <add key="Version" value="1" />
    <add key="Currency" value="GHS" />
    <add key="OperatorId" value="EZEE_PAY@LIVE" />
    <add key="SecureHashType" value="SHA1" />
    <add key="Gateway" value="ssl" />
    <add key="SecureHash" value="E2D8324EA63847AA37BD4CA9F9151AC6" />
    <add key="SourceSubType" value="SINGLE" />
    <add key="MerchantId" value="GTB111030B01" />
    <add key="AccessCode" value="FCEC9ADB" />
    <add key="CardCommand" value="pay" />
    <add key="ResponseUrl" value="/CardPayment/PaymentResponse" />
    <add key="CardPaymentPage" value="http://localhost:4200/#/confirm/" />

    <add key="CallBackFromEmailId" value="no-reply@ezipaygh.com" />
    <add key="CallBackFromPassword" value="987654321" />
    <add key="CallBackToEmailId" value="support@ezipaysarl.com" />

    <!--GTB CIV master card Details-->
    <add key="gimServiceUrl" value="https://ecom.barakamoney.net/PgWebService/services/OnlineSecureService?wsdl" />
    <add key="urlCallBack" value="https://apiref.ezipaysarl.com/MasterCardPayment/GTBCIVPaymentResponse" />
    <add key="WsLogin" value="ezipay.ci@barakamoney.net" />
    <add key="WsPassword" value="s3b5cr~YF" />
    <add key="AcceptorPointID" value="8163300091091" />
    <add key="BankCode" value="281633" />

    <!--UBA master card Details-->
    <add key="MasterCardUrl" value="https://ap-gateway.mastercard.com/api/nvp/version/61" />
    <add key="MasterCardUserName" value="UBAEZIPAYCDI" />
    <add key="MasterCardPassword" value="32ec3654dbb52a7a3d56e90030f490e7" />
    <add key="MasterCardCallBackForPayServicesNewFlow" value="/MasterCardPayment/SaveMasterCardPaymentResponse" />
    <add key="MerchantNameMasterCard" value="UBAEZIPAYCDI" />
    <add key="operation" value="PURCHASE" />
    <add key="apiUsernameMasterCard" value="merchant.UBAEZIPAYCDI" />
    <add key="MPGSTemplate" value="http://localhost:63159/HtmlTemplates/UBATestGetway.html?" />

    <!--flutter master card2 Details-->
    <add key="flutterCallBackUrl" value="http://localhost:63159/MasterCardPayment/SaveflutterCardPaymentResponse" />
    <add key="flutterpaymentUrl" value="https://api.flutterwave.com/v3/payments" />
    <add key="flutterverifypaymentUrl" value="https://api.flutterwave.com/v3/transactions/verify_by_reference?tx_ref=" />
    <add key="flutterFLWSECKey" value="FLWSECK-850d76fec17375b1675bdb61dd4ddb65-X" />
    
    <add key="flutterbankpaymentUrl" value="https://api.flutterwave.com/v3/charges?type=debit_ng_account" />
    <add key="flutterBankCallBackUrl" value="http://localhost:63159/MasterCardPayment/SaveflutterBankPaymentResponse" />
    
    <add key="flutterSendBankUrl" value="https://api.flutterwave.com/v3/transfers" />
    <add key="flutterFLWBankNGN" value="https://api.flutterwave.com/v3/banks/ng" />
    <add key="flutterbankZenithBankOTPRequest" value="https://api.flutterwave.com/v3/validate-charge" />

    <add key="flutterbankBanktransfer" value="https://api.flutterwave.com/v3/charges?type=bank_transfer" />
    
    <!--binance  Details-->
    <add key="binancepaymentUrl" value="https://bpay.binanceapi.com/binancepay/openapi/payout/transfer" />
    <add key="binancepaymenttransferUrl" value="https://bpay.binanceapi.com/binancepay/openapi/wallet/transfer" />
    <add key="binanceapikee" value="wrrxihhv19djsdms0pzfksetjc03istfyazz0gmjtynva2iupvzdcgisxlqvg7at" />
    <add key="binanceSECKee" value="a71qkr1sjab0zd6hyv8ahjjkweypetnutohlqdkptjbklhhom74ye8hptqgbkrhj" />


    <!--UBA master card2 Details-->
    <add key="MasterCardUrl2" value="https://mcb.gateway.mastercard.com/api/nvp/version/61" />
    <add key="MasterCardUserName2" value="1010030290" />
    <add key="MasterCardPassword2" value="a7372f5a2acca4d1894ac6df682579b0" />
    <add key="MasterCardCallBackForPayServicesNewFlow2" value="/MasterCardPayment/SaveMasterCardPayment2Response" />
    <add key="MerchantNameMasterCard2" value="1010030290" />
    <add key="operation2" value="PURCHASE" />
    <add key="apiUsernameMasterCard2" value="merchant.1010030290" />
    <add key="MPGSTemplate2" value="http://localhost:63159/HtmlTemplates/UBATestGetway2.html?" />

    
    <!--Ngeniuns Details-->
    <add key="NgeniunsCallBack" value="https://apiref.ezipaysarl.com/MasterCardPayment/SavengeniusPaymentResponse" />

    <!--<add key="NgeniunstokenUrl" value="https://api-gateway.sandbox.gtblr.ngenius-payments.com/identity/auth/access-token" />
    <add key="Ngeniunstokenkey" value="sandboxGTBLR" />
    <add key="NgeniunsAPIKEY" value="OGIzMmVjMDItZTE2Yy00NWZlLThhNzItZTQxMWQ4MmQxMmQ4OmZkOTg4YTcyLWQ1NzItNGM0OS04Mjc3LWVjNjYxNDg2ZTM3ZA==" />    
    <add key="NgeniunspaymentsUrl" value="https://api-gateway.sandbox.gtblr.ngenius-payments.com/transactions/outlets/750485ef-c037-411c-8cec-786adfd21d90/orders" />
    <add key="GetorderstatusNgeniunspayment" value="https://api-gateway.sandbox.ngenius-payments.com/transactions/outlets/750485ef-c037-411c-8cec-786adfd21d90/orders/" />-->

    <add key="NgeniunstokenUrl" value="https://api-gateway.gtblr.ngenius-payments.com/identity/auth/access-token" />
    <add key="Ngeniunstokenkey" value="GTBLR" />
    <add key="NgeniunsAPIKEY" value="YzBhMjgzMWEtOTAzYi00MDEyLWI1OTAtZTk2NjE5ODEwYmEwOjMxMjZkY2E2LTZiZTctNDdiNi1iMTZjLTVhZWM1Yjc0MjI2MQ==" />
    <add key="NgeniunspaymentsUrl" value="https://api-gateway.gtblr.ngenius-payments.com/transactions/outlets/22f68896-6789-4827-9ab4-a741320b5d6f/orders" />
    <add key="GetorderstatusNgeniunspayment" value="https://api-gateway.gtblr.ngenius-payments.com/transactions/outlets/22f68896-6789-4827-9ab4-a741320b5d6f/orders/" />

    <!--Seerbit Details-->
    <add key="SeerbitGettokenUrl" value="https://seerbitapi.com/api/v2/encrypt/keys" />
    <add key="Seerbitpublickey" value="SBTESTPUBK_BO4TDsBkmeErLQCJ80pr6mUu2e3GoeGe" />
    <add key="Seerbitprivatekey" value="SBTESTSECK_NU5XM5NMD277I2RirIzzQy9DdfMk5YiVVYYMsO0H" />

    <add key="SeerbitGethashUrl" value="https://seerbitapi.com/api/v2/encrypt/hashs" />
    <add key="SeerbitGetpaymentsUrl" value="https://seerbitapi.com/api/v2/payments" />
    <add key="SeerbitCallBack" value="http://localhost:63159/MasterCardPayment/SaveSeerbitPaymentResponse" />


    <!--bank details-->
    <add key="TransferToBankSourceAccountNo" value="201111030110" />
    <add key="TransferToBankSourceAccountName" value="EZEEPAY GHANA LIMITED" />
    <add key="TransferToBankUserName" value="ezeepaygh" />
    <add key="TransferToBankPassword" value="Ezee9@YgH" />
    <add key="TransferToBankApiURL" value="https://gtbhotelcosvr01:450/aggregatorservices/ipay/" />
    <add key="TransferToBankGTBankUrl" value="https://gtbhotelcosvr01:450/apihub/api/ezeepay/transferToBank" />
    <add key="GTbankTransferToBankUserName" value="DF21FCB0-1193-471C-BA50-E83E8D5BCFE5" />
    <add key="GTbankTransferToBankPassword" value="40404749-8557-4784-BBAA-6A031679F5BD" />

    <add key="AWSBucket" value="prod-sarl-data" />
    <!--<add key="AWSurl" value="https://s3-us-west-2.amazonaws.com" />-->
    <!--<add key="AWSAccessKey" value="AKIAJGMXIERUZDECX5CA" />
    <add key="AWSSecretKey" value="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" />-->
    <!--<add key="ImageUrl" value="https://ezipay.s3.amazonaws.com/" />-->
    <add key="ImageUrl" value="https://prod-sarl-data.s3.us-west-2.amazonaws.com/" />

    <!--international DTH-->
    <!--<add key="API_KEY" value="f34ce34f-b91c-4b51-ae71-7003c419df12" />
    <add key="secret_KEY" value="d6266369-cb89-4c00-9a96-90991a8e9641" />-->
    <add key="API_KEY" value="5d441aee-5743-4c2c-9e76-5ad479f7dde7" />
    <add key="secret_KEY" value="411b9704-fbfd-4fb3-9109-22202cf3ed1e" />
    <add key="InternationalDTHUrl" value="https://gs-api.dtone.com/v1.1/" />
    <!-- <add key="RedirectPaymentUrl" value="https://testnew.ezipay.global/api/EzipayUSDWebhookController/webhook" />-->
    <add key="RedirectPaymentUrladdmonebanktransfer" value="https://apiref.ezipay.global/api/EzipayUSDWebhookController/webhook" />
    <add key="RedirectPaymentUrlpaybanktransferrohit" value="https://apiref.ezipay.global/api/callback/transfertobank-NGN" />
    <add key="RedirectPaymentUrlpaybanktransferNene" value="https://egaprod.ezipay.global/EZGlobalAPI/api/FwCallback" />
    <!--IOS push-->
    <add key="iOSPushCertificate" value="EzipayProduction.p12" />
    <add key="iOSPushPassword" value="123456" />
    <add key="iOSPushApsHost" value="gateway.push.apple.com" />
    <add key="AppInstal" value="http://www.google.com" />
    
    <!--ANDROID-->
    <add key="FCM_SERVER_KEY" value="285470331717" />
    <add key="FCM_HOST_URL" value="https://fcm.googleapis.com/fcm/send" />
    <add key="FCM_APPLICATION_KEY" value="AAAAQndbk0U:APA91bFc_6utvLwwd2TbqK3M3PjTtqByN3k2d_tMGZjQCuWXLHah_DJgPOhcAnC-OiaVZlYQvYL1GnFx76225p-DeCIv7RElCJS7tnqMzjR779aqUxU6WqFGfsqI-GWr6J6djFMLeQdl" />
    <add key="androidPushDomain" value="https://android.googleapis.com/gcm/send" />
    <add key="androidPushPassword" value="AAAAQndbk0U:APA91bFc_6utvLwwd2TbqK3M3PjTtqByN3k2d_tMGZjQCuWXLHah_DJgPOhcAnC-OiaVZlYQvYL1GnFx76225p-DeCIv7RElCJS7tnqMzjR779aqUxU6WqFGfsqI-GWr6J6djFMLeQdl" />
    <add key="iosurl" value="https://appsto.re/in/xZDHgb.i" />
    <add key="androidurl" value="https://play.google.com/store/apps/details?id=com.ta.fitchirp&amp;hl=en" />
    <!--<add key="AWSBucket" value="ezipay" />
    <add key="AWSurl" value="https://s3-us-west-2.amazonaws.com" />-->

    <!--branchio creds-->
    <add key="branch_key" value="key_test_ikRQxAl3Ml7Ca5m7ldS1SbekyslGkEIz" />
    <add key="branchio_url" value="https://api2.branch.io/v1/url" />
    <add key="android_url" value="https://play.google.com/store/apps/details?id=com.app.ezeepay" />
  </appSettings>
  <connectionStrings>

    <add name="DB_9ADF60_ewalletEntities" connectionString="metadata=res://*/Ezipay.csdl|res://*/Ezipay.ssdl|res://*/Ezipay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sarl.cjwfrzunqepo.us-west-2.rds.amazonaws.com;initial catalog=Ewallet_Frenco_Ezipay;user id=app.user;password=Ht1p@43TarT@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />

    <httpRuntime targetFramework="4.6.1" enableVersionHeader="false" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <!--<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />-->
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>